* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    margin: 0;
}

ul {
    list-style: none;
    display: flex;
    gap: 30px;
    margin-right: 30px;
}

a {
    text-decoration: none;
    color: white;
}

body,
.hero,
.hero-content-left,
.information-section,
.info-image-and-description,
.quote-section,
.call-to-action-section,
.call-to-action-text,
.footer {
    display: flex;
    flex-direction: column;
}

.hero, .footer {
    background-color: #1F2937;
    color: white;
}

button, .call-to-action-section {
    background-color: #3882F6;
    color: white;
}

.quote-section {
    background-color: #E5E7EB;
}

.nav {
    display: flex;
    padding: 20px;
    justify-content: center;
    align-items: center;
}

.hero {
    min-height: 25vh;
}

.logo.push-left {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 700;
    margin-right: auto;
    margin-left: 30px;
}

.hero-content {
    display: flex;
    padding: 20px;
    justify-content: center;
    align-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.hero-content-left {
    margin-left: 30px;
    justify-content: flex-start;
    align-items: flex-start;
    flex: 1;
    flex-wrap: wrap;
}

.hero-content-left .main-text {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    margin: 0;
}

.hero-content-left .main-content-text {
    font-size: 18px;
    color: #E5E7EB;
}

.hero-content-right {
    display: flex;
    flex: 2;
    justify-content: flex-end;
    flex-wrap: wrap;
    margin-right: 30px;
}

.hero-content-right img {
    display: flex;
    flex-wrap: wrap;
    width: auto;
    height: 300px;
}

.hero-content-left .main-button {
    padding: 10px;
    border: none;
    border-radius: 8px;
    width: 100px;
    justify-self: flex-end;
}

.information-section {
    min-height: 15vh;
    flex-wrap: wrap;
}

.information-section-title {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #1F2937;
    font-size: 36px;
    font-weight: 900;
    margin: 10px;
}

.information-section-images {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
}

.info-image-and-description {
    flex-wrap: wrap;
    flex: 1;
    justify-items: center;
    align-items: center;
}

.info-image-and-description img {
    height: 200px;
    width: 200px;
    border: solid #3882F6;
    border-radius: 8px;
}

.info-image-and-description p {
    height: 200px;
    width: 200px;
    text-align: center;
}

.quote-section > * .quote, .quote-author{
    display: flex;
    color: #1F2937;
}

.quote-section {
    min-height: 15vh;
    padding: 50px;
    margin: 50px 0 50px 0;
    flex-wrap: wrap;
}

.quote > .some-quote {
    font-size: 36px;
    font-weight: 200;
    flex-wrap: wrap;
    align-self: center;
    justify-self: center;
    font-style: italic;
}

.quote-author {
    align-self: flex-end;
    justify-self: flex-end;
    font-weight: 500;
}

.call-to-action-section {
    margin: 0 50px 50px 50px;
    border-radius: 8px;
    padding: 50px;
    color: white;
}

.call-to-action-button {
    justify-self: flex-end;
    align-self: flex-end;

}

.call-to-action-signup {
    padding: 10px;
    border-radius: 8px;
    border: solid white;
    width: 100px;
}

.call-to-action-title {
    font-size: 20px;
    font-weight: 900;
    margin-bottom: 0;
}

.call-to-action-subtext {
    margin-bottom: 0;
}

.footer {
    min-height: 10vh;
    justify-content: center;
    align-items: center;
}